body {
    box-sizing: border-box;
    margin: 0px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrap {
    display: flex;
    flex-direction: row;
}

section form {
    padding: 30px;
    background-color: #ffffff;
}

.login-image {
    width: 300px;
    background-color: #efefef;
}

.login-form-inputs div {
    padding: 20px;
}

.login-form-button button {
    float: right;
}

.login-form-input-texts {
    display: flex;
    flex-direction: column;
}

.login-button-group {
    display: flex;
    flex-flow: row;
    max-width: 400px;
    flex-wrap: wrap;
}

.login-button-group label {
    margin:3px;
}

.underline-input {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0px;
}
