body {
    box-sizing: border-box;
}

.xidps-login-form {
    min-width:540px;
}
.login-image {
    min-width: 450px;
    background-color: #efefef;
}
.consonants-label {
    margin-right:5px;
    margin-left:5px;
}
