@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    font-family: NanumSquare;
}


/*<editor-fold desc="xidps font weight">*/
.xidps-fw-8 {
    font-weight: 800;
}

/*</editor-fold>*/
/*<editor-fold desc="xidps color settings">*/
/* mid night blue */
.xidps-color-mdblue {
    color: #2c347a
}

.xidps-bgColor-mdblue {
    background-color: #2c347a;
    color: #ffffff;
}

/*brown gray */
.xidps-color-brownGray {
    color: #858585
}

/*</editor-fold>*/
/*<editor-fold desc="xidps icon styles">*/
/* icon gradient styles*/

.send-icon {
    background: linear-gradient(21deg, #1eacdb -5%, #00b19f 131%);
}

.leaderboard{
    background-color:#0aa8cb
}

/* xidps icon gradient settings*/
.gradient-icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*</editor-fold>*/
/*<editor-fold desc="xidps radius settings">*/
.xidps-radius {
    border-radius: 40px;
}

.xidps-radius-l {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.xidps-radius-r {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.xidps-radius-tl {
    border-top-left-radius: 40px;
}

.xidps-radius-tr {
    border-top-right-radius: 40px;
}

.xidps-radius-bl {
    border-bottom-left-radius: 40px;
}

.xidps-radius-br {
    border-bottom-right-radius: 40px;
}

/*</editor-fold>*/

/*component*/
/*<editor-fold desc="xidps button">*/
.xidps-btn {
    height: 30px;
}

.xidps-toggle{

}
.xidps-toggle button{
    width:80px;
    height:40px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #d2d2d2;
    background-color: #fff;
    padding: 0 15px;
}
.xidps-btn-active {
    border: solid 1px #0aa8cb;
    background-color: #addee2;
}

/*</editor-fold>*/
/*<editor-fold desc="underline-textbox">*/
/*this underline textbox is based on bootstrap textbox. */
.xidps-underline-input {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom:1px solid #707070;
}
.xidps-underline-input:focus {
    box-shadow: none;
}
/*</editor-fold>*/
/*<editor-fold desc="xidps card styles">*/
.xidps-card {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

/* this */
.xidps-card-blueHead{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-top: 4px solid #2c347a;
}
/*</editor-fold>*/


.xidps-scroll-message{
    height:240px;
}
